.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
    background-color: #F2784B;

}

.navbar-brand {
    
    font-size: 30px;
    
}



.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid black;
}

.navbar-default .navbar-brand {
    color: #333;
}

a {
    color: #FFF;
    text-decoration: none;
}

.btn {
    border-radius: 5px;
}

.fa {
    color: #F62459;
}

.footer{

	background-color: #F2784B;
}

.footer p {
    padding: 2px 2px 15px 15px;
}

